*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 696px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-image {
  width: 360px;
  height: 200px;
  transform: scale(1);
  transition: transform, 0.3s;
  cursor: pointer;
}

.gallery-item {
  width: 360px;
  height: 200px;
}

.gallery-image:hover {
  transform: scale(1.04);
}

ul {
  list-style-type: none;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 24px;
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 24px;
}
